@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Скроллбар */
.AddCurrency {
  scrollbar-width: thin;
  scrollbar-color: #bfdbfe white;
}

.AddCurrency::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.AddCurrency::-webkit-scrollbar-track {
  background: white;
}

.AddCurrency::-webkit-scrollbar-thumb {
  background-color: #bfdbfe;
  border-radius: 10px;
  border: 3px solid #bfdbfe;
}